body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.editUser-container {
  min-height: 150px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 33.33vw;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reportes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.reporte-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 16px;
  margin: 10px; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  flex: 1 1 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.reporte-foto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.add-comentario {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.add-comentario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-comentario button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.add-comentario button:hover {
  background-color: #45a049;
}

.actualizaciones-section {
  margin-top: 10px;
}

.actualizaciones-section h3 {
  margin-bottom: 5px;
}

.actualizaciones-section p {
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .editUser-container {
    min-height: 1600px;
  }
}