body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.editUser-container {
  margin-bottom: 10px; /* Reducir espacio entre nav y búsqueda */
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Ajuste menor del espacio */
}

.search-input {
  width: 33.33vw; /* 1/3 del ancho de la pantalla, usando viewport width para asegurar que se mantenga consistente */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reportes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.reporte-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 16px;
  margin: 10px; /* Ajuste menor del margen */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  flex: 1 1 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.reporte-foto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.add-comentario {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.add-comentario input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-comentario button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-comentario button:hover {
  background-color: #45a049;
}

.actualizaciones-section {
  margin-top: 10px;
}

.actualizaciones-section h3 {
  margin-bottom: 5px;
}

.actualizaciones-section p {
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
}
